<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tim copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>tim copy 4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>tim copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>tim.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5581C871A2EB5A2007237E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5581CA01A2EB5A2007237E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5B043151A307F0C00C793ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5B043321A3086FA00C793ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5B0434B1A30876400C793ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
